In [1]:
!ls

Untitled.ipynb      income.test.blind   toy.txt             untitled
Untitled1.ipynb     income.test.txt     train.py
income.dev.txt      income.train.txt.5k train.py~

In [2]:
!cat toy.txt

45, Federal-gov
33, Private
19, Private
47, Private
30, Local-gov
37, Private
35, Private
33, Private
40, Private
54, Federal-gov

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
f = pd.read_csv('toy.txt')

In [6]:
f

   45   Federal-gov
0  33       Private
1  19       Private
2  47       Private
3  30     Local-gov
4  37       Private
5  35       Private
6  33       Private
7  40       Private
8  54   Federal-gov

In [7]:
pd.get_dummies(f)

ValueError: cannot copy sequence with size 2 to array axis with dimension 9

In [8]:
f['age']

KeyError: 'age'

In [9]:
names = ['age', 'sector']

In [10]:
f = pd.read_csv('toy.txt', names=names)

In [11]:
f

   age        sector
0   45   Federal-gov
1   33       Private
2   19       Private
3   47       Private
4   30     Local-gov
5   37       Private
6   35       Private
7   33       Private
8   40       Private
9   54   Federal-gov

In [12]:
f['age']

0    45
1    33
2    19
3    47
4    30
5    37
6    35
7    33
8    40
9    54
Name: age, dtype: int64

In [13]:
f['sector']

0     Federal-gov
1         Private
2         Private
3         Private
4       Local-gov
5         Private
6         Private
7         Private
8         Private
9     Federal-gov
Name: sector, dtype: object

In [14]:
type(f['age'])

pandas.core.series.Series

In [15]:
f[0]

KeyError: 0

In [16]:
f.head()

   age        sector
0   45   Federal-gov
1   33       Private
2   19       Private
3   47       Private
4   30     Local-gov

In [17]:
f.tail()

   age        sector
5   37       Private
6   35       Private
7   33       Private
8   40       Private
9   54   Federal-gov

In [18]:
pd.get_dummies(f)

ValueError: cannot copy sequence with size 2 to array axis with dimension 10

In [19]:
pd.get_dummies(f['age'])

   19  30  33  35  37  40  45  47  54
0   0   0   0   0   0   0   1   0   0
1   0   0   1   0   0   0   0   0   0
2   1   0   0   0   0   0   0   0   0
3   0   0   0   0   0   0   0   1   0
4   0   1   0   0   0   0   0   0   0
5   0   0   0   0   1   0   0   0   0
6   0   0   0   1   0   0   0   0   0
7   0   0   1   0   0   0   0   0   0
8   0   0   0   0   0   1   0   0   0
9   0   0   0   0   0   0   0   0   1

In [20]:
type(pd.get_dummies(f['age']))

pandas.core.frame.DataFrame

In [21]:
np.array(pd.get_dummies(f['age']))

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.]])

In [22]:
np.array(pd.get_dummies(f['age']), dtype=int)

array([[0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1]])

In [23]:
np.array(pd.get_dummies(f['sector']), dtype=int)

array([[1, 0, 0],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0]])

In [24]:
f['sector']

0     Federal-gov
1         Private
2         Private
3         Private
4       Local-gov
5         Private
6         Private
7         Private
8         Private
9     Federal-gov
Name: sector, dtype: object

In [25]:
age = np.array(pd.get_dummies(f['age']), dtype=int)

In [26]:
sector = np.array(pd.get_dummies(f['sector']), dtype=int)

In [27]:
np.concatenate((age, sector))

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [28]:
np.concatenate((age, sector), axis=1)

array([[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0]])

In [29]:
open('toy.txt').readlines()

['45, Federal-gov\n',
 '33, Private\n',
 '19, Private\n',
 '47, Private\n',
 '30, Local-gov\n',
 '37, Private\n',
 '35, Private\n',
 '33, Private\n',
 '40, Private\n',
 '54, Federal-gov\n']

In [30]:
len(open('toy.txt').readlines())

10

In [31]:
[s.split(", ") for s in open('toy.txt').readlines()]

[['45', 'Federal-gov\n'],
 ['33', 'Private\n'],
 ['19', 'Private\n'],
 ['47', 'Private\n'],
 ['30', 'Local-gov\n'],
 ['37', 'Private\n'],
 ['35', 'Private\n'],
 ['33', 'Private\n'],
 ['40', 'Private\n'],
 ['54', 'Federal-gov\n']]

In [32]:
[s.strip().split(", ") for s in open('toy.txt').readlines()]

[['45', 'Federal-gov'],
 ['33', 'Private'],
 ['19', 'Private'],
 ['47', 'Private'],
 ['30', 'Local-gov'],
 ['37', 'Private'],
 ['35', 'Private'],
 ['33', 'Private'],
 ['40', 'Private'],
 ['54', 'Federal-gov']]

In [33]:
data = map(lambda s: s.strip().split(", "), open('toy.txt').readlines())

In [34]:
data

[['45', 'Federal-gov'],
 ['33', 'Private'],
 ['19', 'Private'],
 ['47', 'Private'],
 ['30', 'Local-gov'],
 ['37', 'Private'],
 ['35', 'Private'],
 ['33', 'Private'],
 ['40', 'Private'],
 ['54', 'Federal-gov']]

In [35]:
mapping = {}

In [36]:
new_data = []

In [38]:
for row in data:
    new_row = []
    for j, x in enumerate(row):
        feature = (j, x)
        if feature not in mapping:
            mapping[feature] = len(mapping) # insert a new feature into the index
        new_row.append(mapping[feature])
    new_data.append(new_row)

In [39]:
new_data

[[0, 1],
 [2, 3],
 [4, 3],
 [5, 3],
 [6, 7],
 [8, 3],
 [9, 3],
 [2, 3],
 [10, 3],
 [11, 1]]

In [40]:
mapping

{(0, '19'): 4,
 (0, '30'): 6,
 (0, '33'): 2,
 (0, '35'): 9,
 (0, '37'): 8,
 (0, '40'): 10,
 (0, '45'): 0,
 (0, '47'): 5,
 (0, '54'): 11,
 (1, 'Federal-gov'): 1,
 (1, 'Local-gov'): 7,
 (1, 'Private'): 3}

In [41]:
len(mapping)

12

In [42]:
bindata = np.zeros((10, 12))

In [43]:
bindata

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]])

In [44]:
for i, row in new_data:
    for x in row:
        bindata[i][x] = 1

TypeError: 'int' object is not iterable

In [45]:
for i, row in enumerate(new_data):
    print i, row

0 [0, 1]
1 [2, 3]
2 [4, 3]
3 [5, 3]
4 [6, 7]
5 [8, 3]
6 [9, 3]
7 [2, 3]
8 [10, 3]
9 [11, 1]

In [46]:
for i, row in enumerate(new_data):
    for x in row:
        bindata[i][x] = 1

In [47]:
bindata

array([[ 1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.]])

In [48]:
np.concatenate((np.array(pd.get_dummies(f['age'])), np.array(pd.get_dummies(f['sector']))), axis=1)

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  1.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.]])

In [49]:
f

   age        sector
0   45   Federal-gov
1   33       Private
2   19       Private
3   47       Private
4   30     Local-gov
5   37       Private
6   35       Private
7   33       Private
8   40       Private
9   54   Federal-gov